/*// #3b5998, #8b9dc3, #dfe3ee, #f7f7f7*/

#blog-content  h2 {
    color: #3b5998
}

#blog-content  h3 {
    color: #8b9dc3
}

body {
    background-color: #dfe3ee
}

#blog-title {
    font-size: 1.5em;
    color: #dfe3ee;
}

#blog-header {
    position: fixed;
    top: 0;
    height: 5em;
    width: 100%;
    z-index: 10;
    color: white;
    background-color: 	#3b5998;
}

#blog-banner {
	position: fixed;
	top: 5em;
	width: 100%;
	height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	background: #8b9dc3;
}

#blog-content {
	position: relative;
	top: 8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: white;
}

#blog-content-left, #blog-content-right {
    flex: 2;
    background-color: #d8dfea
}

#blog-content-middle {
    flex: 6;
    padding: 1em;
    display: flex;
}

.post-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #555;
    border-bottom: 2px solid #ddd
}

.post-summary {
    font-size: small;
    color: #777;
    padding-top: 0.5em;
    padding-left: 1em;
}

.post-tags {
    font-size: small;
    color: #777;
    padding-top: 1em;
    padding-left: 1em;
}

.post-publish-date {
    font-size: 0.75em;
    color: #777;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.margin-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.blog-margin-left, .blog-margin-right {
    flex: 2;
    width: 100px;
}

.blog-margin-middle {
    flex: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.article-title {
    color: #ff6600
}

.blog-footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.5em;
    flex-direction: row;
    justify-content: center;
    border-top: solid 1px #dfe3ee;
    color: #3b5998;
    xcolor: #dfe3ee; /*#8b9dc3;*/
    background-color: #dfe3ee;
}
/* , #8b9dc3 */

#site-links {
}

#site-links a {
    color: #dfe3ee;
    font-size: 1.2em;
}

#social-media-icons {
}

#site-links a {
    text-decoration: none;
    padding-right: 1em
}
